<script src="js/jquery-3.4.1.min.js"></script>
<script src="js/utils.js"></script>
<link rel="stylesheet" href="css/cart.css">


<button id="logout">LOGOUT</button>

<div id="products_container"></div>

<p id="sum_display"></p>

<script src="js/logout.js"></script>
<script src="js/cart.js"></script>
