<script src="js/jquery-3.4.1.min.js"></script>
<script src="js/utils.js"></script>
<link rel="stylesheet" href="css/cart.css">

<a href="../">Back to Main Site</a>
<button id="logout">LOGOUT</button>

<div id="products_container"></div>

<div id="delivery_in"></div>

<select name="promo" id="promo_in">
    <option value="0">--Select Promo Code--</option>
</select>

<p id="sum_display"></p>
<p style="color: red">Current discount: <span id="discount_display"></span></p>

<script src="js/logout.js"></script>
<script src="js/cart.js"></script>
