<script src="js/jquery-3.4.1.min.js"></script>
<script src="js/utils.js" defer></script>

This is only visible for logged Users.
<br><br>
<button id="logout">LOGOUT</button>

<script src="js/logout.js"></script>
