<link rel="stylesheet" href="css/index.css">

<h1>Available products:</h1>

<button id="logout">LOGOUT</button>
<img id="cart" src="img/shopping_cart.png" alt="shopping cart">


<div id="products_container"></div>


<script src="js/jquery-3.4.1.min.js"></script>
<script src="js/utils.js"></script>
<script src="js/index.js"></script>
<script src="js/logout.js"></script>