<script src="js/jquery-3.4.1.min.js"></script>
<script src="js/login.js" defer></script>

<form method="POST">
    <p id="com">LOGIN:</p>
    <div class="email">
        <input type="text" name="email" placeholder="Email">
        <p class="email-err" style="visibility: hidden">invalid email</p>
    </div>
    <div class="pass">
        <input type="password" name="password" placeholder="Password">
        <p class="pass-err" style="visibility: hidden">invalid password</p>
    </div>
    <button>Submit</button>
</form>

<br><br>
<a href="register">REGISTER</a>