<script src="js/jquery-3.4.1.min.js"></script>
<script src="js/utils.js"></script>

<a href="../" style="font-size: 5vh; color: #2A9D8F; text-decoration: none;"><< Back to Main Site</a>

<p id="error_p" style="position: fixed; top: 30%; text-align: center; width: 100%; color: red; font-size: 2vw"></p>
<p id="good_p"  style="position: fixed; top: 30%; text-align: center; width: 100%; color: Green; font-size: 2vw" hidden="true">CART SUCCESSFULLY SHARED</p>

<script src="js/share.js"></script>